* {
    font-family: 'Raleway';
}

*:hover {
    cursor:default;
}

body {
    align-items:center;
    background-color: #f7f7f7;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#modal {
    position:fixed;
    z-index:2;
    display:none;
    align-items:center;
    justify-content:center;
    top:0;
    width:100vw;
    height:100vh;
    background-color:rgba(255, 255, 255, 0.809);
}

#alert {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:20px;
    min-width:200px;
    max-width:250px;
    background-color:white;
    padding:20px;
    box-shadow:3px 3px 10px gray;
}

#alert-message {
    line-height: 1.5em;
}

#container {
    align-items:center;
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
    margin-bottom:50px;
    margin-top:50px;
    width: min(100%, 400px);
}

button {
    background-color: rgb(40,40,40);
    border:none;
    border-radius:3px;
    color:white;
    padding: 8px 12px 8px 12px;
}

button:hover {
    cursor:pointer;
}

button:active {
    background-color: black;
}

#balance-buttons {
    display:none;
    gap: 20px; 
}

#tree-container {
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    width: 90%;
}

#tree {
    background-color:white;
    border: 1px solid black;
    height: fit-content;
    line-height:1.5em;
    min-height:200px;
    padding: 12px;
    width: 100%;
}

#balance-status {
    bottom: 10px;
    display:none;
    font-size: .9em;
    position:absolute;
    right: 10px;
}

#order-display {
    align-items:center;
    display:none;
    flex-direction:column;
    justify-content:center;
    width:85%;
}

#level-order,
#pre-order,
#post-order,
#in-order {
    font-weight: 200;
    line-height:1.5em;
    margin-top:7px;
}

.order {
    background-color:white;
    gap:8px;
    margin-bottom:10px;
    margin-top:10px;
    padding:15px;
    text-align:center;
}