* {
    font-family: 'Raleway';
}

body {
    align-items:center;
    background-color: #f7f7f7;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#container {
    align-items:center;
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
    margin-bottom:50px;
    margin-top:50px;
    width: min(100%, 600px);
}

button {
    background-color: rgb(40,40,40);
    border-radius:2px;
    color:white;
    padding: 8px 12px 8px 12px;
}

#balance-buttons {
    display:none;
    gap: 20px; 
}

#tree {
    background-color:white;
    border: 1px solid black;
    height: fit-content;
    line-height:1.5em;
    min-height:200px;
    padding: 12px;
    width: min(100%, 400px);
}

#order-display {
    align-items:center;
    display:none;
    flex-direction:column;
    justify-content:center;
    width:100%;
}

#level-order,
#pre-order,
#post-order,
#in-order {
    font-weight: 200;
    margin-top:7px;
}

.order {
    background-color:white;
    gap:8px;
    margin-bottom:10px;
    margin-top:10px;
    max-width: 100%;
    padding:10px;
    text-align:center;
    width:fit-content;  
}